@import '/home/robert/.cache/wal/colors-waybar.css';
 
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMonoNL Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: none;
    color: @foreground;
}

tooltip {
    background: @background;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @color1;
}

#workspaces button {
    padding: 5px;
    color: @color1;
    margin-right: 5px;
}

#workspaces button.active {
    color: @color2;
}

#workspaces button.focused {
    color: @color2;
    background: linear-gradient( to right,@background,@color1);
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-wallchange,
#window,
#battery,
#pulseaudio,
#cpu,
#memory,
#workspaces,
#backlight {
    background: @background;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid @color1;
}


#workspaces {
    background: @background;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#memory {
    color: @color6;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#cpu {
    color: @color7;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
} 

#pulseaudio {
    color: @color7;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @color6;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-wallchange {
    border-radius: 10px;
}

#custom-wallchange {
    margin-right: 10px;
}

