@import url("/home/rlc/.cache/wal/colors-gtk.css");

window.Bar {
    border: 1px solid @color1;
    border-radius: 7px;
    box-shadow: none;
    background-color: mix(@color0, @color2, 0.5);
    color: @foreground;
    font-size: 1.1em;
    font-weight: bold;
}

button {
    all: unset;
    background-color: transparent;
    font-size: 1.3rem;
}

button:hover label {
    background-color: alpha(@foreground, 0.4);
}

button:active label {
    background-color: alpha(@foreground, 0.4);
}

label {
    transition: color ease-out 250ms;
    padding: 0 8px;
    margin: 2px;
    border-radius: 7px;
    border: 1pt solid transparent;
    font-family: "Edu AU VIC WA NT Pre";
    font-style: normal;
    font-size: 0.9em;
}

.Workspaces .focused label {
    color: @color4;
}

.FocusedClient {
    color: @color4;
}

.Media .Cover {
    min-height: 1.2em;
    min-width: 1.2em;
    border-radius: 7px;
    background-position: center;
    background-size: contain;
}

.Battery label {
    padding-left: 0;
    margin-left: 0;
}

.Systray {
    margin-right: 10px;
}

.Ram,
.Ram label,
.Cpu,
.Cpu label {
    all: unset;
    padding: 0;
    border: 0;
    margin-right: 0.2em;
    font-size: 1.1rem;
}

.AudioSlider {
    all: unset;
    margin-left: 0.7em;
}

.ChangeWallpaper,
.ChangeWallpaper button label {
    all: unset;
    margin-right: 0.4em;
    font-size: 1.3rem;
    transition: color ease-out 250ms;
}

.ChangeWallpaper button:hover label {
    color: alpha(@color3, 0.7);
}

.ChangeWallpaper button:active label {
    color: alpha(@color3, 0.7);
}
